body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.slider-title {
    color: #134a7e;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.slide-container {
    width: 90%;
    max-width: 900px;
    height: 60vw;
    /* responsive height */
    max-height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(29, 28, 28, 0.3) -5px 5px,
        rgba(29, 28, 28, 0.2) -10px 10px,
        rgba(29, 28, 28, 0.1) -15px 15px;
}

/* Image responsive */
.slide-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 🔥 important */
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide-container img.active {
    opacity: 1;
}

/* Slide animation for group change */
.slide-in {
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

span i {
    font-size: 40px;
    background-color: aliceblue;
    color: #134a7e;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

span i:hover {
    background-color: #134a7e;
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease;

}

@media (max-width: 768px) {

    .slider {
        flex-direction: column;
    }

    .slide-container {
        height: 55vw;
    }

    span i {
        text-align: center;
        font-size: 30px;
        padding: 8px;
    }
}

#prev i {
    margin-right: 10px;
}