* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.webp) center/cover no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(4px);
}

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card {
    width: 420px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    padding: 28px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.top h2 {
    font-size: 28px;
    color: #111;
    margin-bottom: 6px;
}

.top p {
    color: #666;
    font-size: 14px;
    margin-bottom: 22px;
}

.password-box {
    display: flex;
    gap: 10px;
    margin-bottom: 22px;
}

.password-box input {
    flex: 1;
    height: 52px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    background: #f7f7f7;
}

.password-box button {
    width: 90px;
    border: none;
    border-radius: 12px;
    background: #111;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.range-box {
    margin-bottom: 20px;
}

.range-box label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 600;
    color: #222;
}

.range-box input {
    width: 100%;
}

.options {
    display: grid;
    gap: 14px;
    margin-bottom: 25px;
}

.options label {
    background: #f7f7f7;
    padding: 14px;
    border-radius: 12px;
    color: #333;
    font-size: 15px;
}

.generate-btn {
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 14px;
    background: #111;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.generate-btn:hover {
    transform: translateY(-2px);
}

.strength {
    margin-top: 22px;
}

.strength span {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #222;
}

.bar {
    width: 100%;
    height: 10px;
    background: #eee;
    border-radius: 20px;
    overflow: hidden;
}

#strengthBar {
    height: 100%;
    width: 0%;
    background: #ff4d4d;
    transition: 0.4s;
}

@media(max-width:500px) {
    .card {
        width: 100%;
        padding: 22px;
    }

    .password-box {
        flex-direction: column;
    }

    .password-box button {
        width: 100%;
        height: 50px;
    }
}

